.rs-picker-menu {
  z-index:9999

  }
  .rs-picker-default:not(.rs-picker-disabled) .rs-btn:hover, .rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle:hover, .rs-picker-default:not(.rs-picker-disabled) .rs-btn:focus, .rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle:focus, .rs-picker-default:not(.rs-picker-disabled) .rs-btn-active, .rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle-active{
   border-color: #DB154D !important
  }
  .rs-picker-toggle.rs-picker-toggle-active.rs-btn.rs-btn-default{
    box-shadow:unset !important
  }
  .rs-picker-has-value .rs-btn .rs-picker-toggle-value, .rs-picker-has-value .rs-picker-toggle .rs-picker-toggle-value{
    color:black !important
  }
  .MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.css-kvip5o-MuiToolbar-root{
align-items: center !important;
  }